{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2013/12/11/191759/ae5fb76ec7d4e6e611258b64cb4ed5fb.jpg);
    min-height: 75%;

}
.menu {
    display: none;
}
</style>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
         <title>Restaurantes {% block title %}{% endblock %}</title>
    </head>
    <body class="bgimg w3-display-container w3-grayscale-min">
      <div class="w3-top">
  <div class="w3-row w3-padding w3-black">

    <div class="w3-col s3">
      <a href="#asig" class="w3-button w3-block w3-black">LA ASIGNATURA</a>
    </div>
    <div class="w3-col s3">
      <a href="#yo" class="w3-button w3-block w3-black">SOBRE MI</a>
    </div>
  </div>

  <div class="w3-container" id="nuevo">
    <form action="{% url 'nuevo_restaurante' %}" method="post">
      <div class="container">
         <br>
         <label><b>Nombre del restaurante</b></label>
         <br>
         <input type="text" placeholder="Nombre" name="rname" required>
         <br>
         <label><b>codigo postal</b></label>
         <br>
         <input type="text" placeholder="Codigo" name="cod" required>
         <br>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar" />

      </div>
    </form>
  </div>
</div>
<div class="w3-container" id="asig">
  <div class="w3-content" style="max-width:700px">

    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">DAI</span></h5>

    <div class="w3-row w3-center w3-card w3-padding">
      <a href="javascript:void(0)" onclick="openMenu(event, 'info');" id="myLink">
        <div class="w3-col s6 tablink">Basic info</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'reso');">
        <div class="w3-col s6 tablink">Resources</div>
      </a>
    </div>

    <div id="info" class="w3-container menu w3-padding-48 w3-card">
      <h5>Desarrollo de aplicaciones de internet</h5>
      <p class="w3-text-grey">es una asignatura dedicada al desarrollo en MVC de webapps.</p><br>

      <h5>Especialización</h5>
      <p class="w3-text-grey">Es una asignatura fundamental para devops. Se complementa bien con Infraestructuras virtuales, que se especializa en la orquestación del despliegue.</p><br>

      <h5>MVC</h5>
      <p class="w3-text-grey">El modelo vista controlador facilitado por DJANGO (que lo organiza automaticamente a diferencia de Flask) separa las partes fundamentales de la aplicación y facilita un correcto desarrollo de la app.</p><br>
    </div>

    <div id="reso" class="w3-container menu w3-padding-48 w3-card">
      <h5>Frameworks usados:</h5>
      <p class="w3-text-grey">Flask</p><br>
      <p class="w3-text-grey">DJANGO</p><br>

      <h5>Lenguaje principal utilizado:</h5>
      <p class="w3-text-grey">Python</p><br>

      <h5>Otras herramientas:</h5>
      <p class="w3-text-grey">Despliegue: Heroku</p><br>
      <p class="w3-text-grey">open source: Github</p><br>
      <p class="w3-text-grey">templates: Bootstrap, W3C</p><br>


    <img src="http://cdn.paper4pc.com/images/restaurant-wallpaper-14.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
  </div>
</div>



        <hr>

        <footer>
          <p>&copy; DAI 2017</p>
        </footer>
      </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.11.2.min.js" %}"><\/script>')</script>

        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>

        <script src="{% static "js/main.js" %}"></script>

        <script>
        function openMenu(evt, menuName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("asig");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
             tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
          }
          document.getElementById(menuName).style.display = "block";
          evt.currentTarget.firstElementChild.className += " w3-dark-grey";
        }
        document.getElementById("myLink").click();
        </script>

    </body>
</html>
